KAFKA_BOOTSTRAP_SERVERS=localhost:29092
AZURITE_CONNECTION_STRING=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://localhost:10000/devstoreaccount1
BLOB_CONTAINER=cdc-events

POSTGRES_HOST=localhost
POSTGRES_DB=ticketdb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

SRC_PG_HOST=localhost
SRC_PG_PORT=5432
SRC_PG_DB=ticketdb
SRC_PG_USER=postgres
SRC_PG_PASS=postgres

TGT_PG_HOST=localhost
TGT_PG_PORT=5433
TGT_PG_DB=ticketdb
TGT_PG_USER=postgres
TGT_PG_PASS=postgres

ALEMBIC_SOURCE_URL=postgresql://postgres:postgres@localhost:5432/ticketdb
ALEMBIC_TARGET_URL=postgresql://postgres:postgres@localhost:5433/ticketdb
